@import url('https://fonts.googleapis.com/css2?family=Alata&family=Ubuntu:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


/* Nav background image */
.nav_background{
    background-image: url("/public/bg-sidebar-mobile.svg");
    background-repeat: no-repeat;
    background-size: cover;
}
@media screen and (min-width:1024px) {
    .nav_background{
        background-image: url("/public/bg-sidebar-desktop.svg");
        background-repeat: no-repeat;
        background-size: contain;
    }
    
}


input[type="radio"]{
    appearance: none;

}
input[type="radio"]:checked>label{
background-color: aqua;
}
@layer base{

.numbers{
    @apply rounded-full text-white border-2 border-white w-8 h-8 flex justify-center items-center bg-green-200/80 font-bold transform duration-200
         
}

.link{
@apply text-white font-bold
}
.step{
    @apply  text-white/50 
}

input[type="text"]{
    @apply lg:w-[98%] xl:w-[95%] p-1 lg:p-2 border rounded border-CoolGray
}

}